{% extends "base.html.twig" %}

{% block body %}
    <div class="content-80">
        <div class="form-feed">
            <form action="{{ path('feed.add') }}" method="POST">
                <h3>Add Feed</h3>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="title" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="url" class="form-label">URL</label>
                    <input type="url" name="url" class="form-control">
                </div>
                <button class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
{% endblock %}